<div class="container">
    <div class="big-form">

        <div class="item center flex-column">
            <div class="img-wrap">
                <img src="https://i.pinimg.com/564x/f9/78/92/f9789220e0172dc68a3ac36edef51d1c.jpg" alt="image"/>
            </div>
            <span>InnovaTube</span>
        </div>
    
        <div class="subitem flex-column">
    
            <form class="form flex-column" id="was-validated">
    
                <div class="item flex-row">
                    <div class="subitem">
                        <label class="form-label">Nombre</label>
                        <input type="text" id="nombre" placeholder="Nombre" name="nombre"
                        required/>
                    </div>
                    <div class="subitem">
                        <label class="form-label">Apellido</label>
                        <input type="text" id="apellido" placeholder="Apellido" name="apellido"
                        required/>
                    </div>
                </div>
                <div class="item flex-row">
                    <div class="subitem">
                        <label class="form-label">Usuario</label>
                        <input type="text" id="usuario" placeholder="Nombre" name="nombre"
                        required/>
                    </div>
                    <div class="subitem">
                        <label class="form-label">E-mail</label>
                        <input type="text" className="form-control" id="apellido" placeholder="Apellido" name="apellido"
                        required/>
                    </div>
                </div>
                <div class="item flex-column">
                    <div class="subitem">
                        <label htmlFor="pwd" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="pwd" placeholder="***" name="pswd"
                        required/>
                    </div>
                    <div class="subitem">
                        <label htmlFor="pwd" class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="pwd" placeholder="***" name="pswd"
                        required/> 
                    </div>
                    
                </div>
    
                <div class="item center">
                    <p>Poner aqui el captcha</p>
                </div>
    
                <div class="item center">
                    <button class="btn" type="button">Registrar Nuevo usuario</button>
                </div>
    
            </form>
        </div>
    </div>
</div>
