<app-header></app-header>
<!-- PRINCIPAL -->
<div class="container-fluid slider-content flex-row center">

    <div class="item flex-column busqueda">
        <form class="form flex-column" #userForm="ngForm" (ngSubmit)="onsubmit($event)">
            <div class="item">
                <label for="Busqueda">Busqueda detallada</label>
                <input type="text" name="busqueda" #busqueda='ngModel' [(ngModel)]="texto.input" pattern="^[A-Za-z0-9 ]+$" required/>

                <div id="validation" *ngIf="!busqueda.valid && busqueda.touched">
                    El campo es obligatorio
                </div>

                <button class="btn" type="submit" [disabled]="userForm.invalid">Buscar</button>
            </div>           
        </form>
        <div class="item flex-column center" *ngFor="let item of texto.idVideo">
            <app-busqueda [idVideo]= "item" (marcarFavorita)="mostrarFavorita($event)" ></app-busqueda>
            
        </div>
    </div>
       

        
</div>


