<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

    <div class="container-fluid">
        <!--USUARIO-->
        <div class="item">
            <div class="navbar-brand img-wrap flex-row">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Avatar Logo" style="width:40px;"
                    class="rounded-pill"/>
                <span>Bienvenido de nuevo, {{usuario.nombre}}</span>   
            </div>   
        </div>

        <!--LOGO-->
        <div class="item center">
            <div class="navbar-brand img-wrap">
                <img src="https://i.pinimg.com/564x/f9/78/92/f9789220e0172dc68a3ac36edef51d1c.jpg" alt="image" />
            </div>
        </div>
        <!--BOTON RESPONSIVO-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse center" id="collapsibleNavbar">
            
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/login']">Cerrar Sesion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/registro']">Favoritas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#menu2">Monitoreo</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
