:root{
    --main_text_color: black;
    --padding-item: 0.5rem;
    --margin-item:0.2rem;
    --image-width: 100%;
    --image-height:250px;
    --image-wrap: 4rem;
    --image-wrap-slider: 100rem;
    --border-production-container: 1px solid red;
    --border-production-container-fluid: 1px solid violet;
    --border-production-item: 1px solid green;
    --border-production-subitem: 1px solid blue;
    --border-table: 1px solid black;
    --background-form: rgba(87, 72, 72, 0.604);
    --gral_border-radius: 10px;
    --gral_box-shadow: 0px 0px 5px black;
    --gral-font-size: clamp(1rem,0.5vw,0.5rem);
  }

  /* HELPER CLASS */
  .center{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  .align-end{
    display: flex;
    justify-content: end;
    align-items: center;
  }

  /* IMAGE CLASS*/
  img{
    width: var(--image-width);
  }
  .img-wrap{
    width: var(--image-wrap);
  }
  .img-wrap-slider{
    max-width: var(--image-wrap-slider);
    height: var(--image-height);
  }


  /* CONTAINERS */
  .container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    border: var(--border-production-container);
  }
  .container-fluid{
    display: flex;
    height: auto;
    flex-wrap: wrap;
  }
  .item{
    flex-grow: 1;
    flex-basis: 200;
    height: auto;
    padding: var(--padding-item);
    margin: var(--margin-item);
    border-radius: var(--gral_border-radius);
    border: var(--border-production-item);
  }
  .subitem{
    flex-grow: 1;
    flex-basis:min-content;
    padding: var(--padding-item);
    margin: var(--margin-item);
    border:var(--border-production-subitem);
  }
  .flex-row{
    display: flex;
    flex-direction: row;
  }
  .flex-column{
    display: flex;
    flex-direction: column;
  }

  /* FORMS */
  .big-form{
    box-shadow: var(--gral_box-shadow);
    border-radius: var(--gral_border-radius);
    padding: var(--padding-item);
    z-index: 2;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    overflow: hidden;   
  }
  .form{
   
    padding: var(--padding-item);
    justify-content: start;
    text-align: start;
    input[type=password], input[type=text], input[type=number]{
    
        width: 100%;
        padding: 6px;
        border-radius: var(--gral_border-radius);
        margin-bottom: 5px;
        margin-top: 5px;
        background-color: whitesmoke;
        border: none; 
        box-shadow: var(--gral_box-shadow);
    }
  select{
        width: 100%;
        padding: 6px;
        border-radius: var(--gral_border-radius);
        margin-bottom: 5px;
        margin-top: 5px;
        background-color: whitesmoke;
        border: none; 
        box-shadow: var(--gral_box-shadow);
  }
  }
  .btn{
    font-size: 15px;
    max-width: 100%;
    height: 2rem;
    color: white;
    background-color: red;
    border-radius: 5px;
    border:none;
    margin: var(--margin-item);
  }
  .btn:focus{
    background-color: green;
  }
  .register{
    box-shadow: var(--gral_box-shadow);
    max-width: 40rem;
    color:white;
    text-transform: capitalize;
    border-radius: var(--gral_border-radius);
  }
  /* SLIDERS */
  .slider{
    background-image: url('../images/slider1.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    min-height: 650px;
    color: white;
  }
  .slider-content{
    background-image: url('../images/slider3.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    min-height: 650px;
    color: white;
  }
  .title{
    font-size: var(--gral-font-size);
    height: auto;
    display: grid;
    place-items: center;
    text-align: center;
    color:black;
  }


 /* MEDIA QUERY */
  @media (max-width:500px){
    .flex-row{
        flex-direction: column;
    }
}

