<div class="center">
    <div class="item big-form">

        <div class="item center flex-column">
            <div class="img-wrap">
                <img src="https://i.pinimg.com/564x/f9/78/92/f9789220e0172dc68a3ac36edef51d1c.jpg" alt="image"/>
            </div>
            <span>InnovaTube</span>
        </div>

        <div class="item">
            <p class="title">Para recuperar tu contraseña es necesario ingreses tu e-mail. Ha esta dirección sera enviado tu password</p>
        </div>
    
        <div class="subitem flex-column">
    
            <form class="form flex-column" #userForm="ngForm" (ngSubmit)="onSubmit($event)">
    
                <div class="item">
                    <label for="usuario">E-mail</label>
                    <input type="text" name="usuario" #nombre='ngModel' [(ngModel)]= "form.correo" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required/>

                    <small id="validation" *ngIf="!nombre.valid && nombre.touched">
                        El campo es obligatorio
                    </small>
                </div>
    
                <div class="item center">
                    <button class="btn" type="submit" [disabled]="userForm.invalid">Enviar correo</button>
                </div>
    
            </form>
        </div>
    </div>  
</div>
